.banner{
width: 100%;

}

.banner__img{
    background: url(../../img/banner.jpg) no-repeat center / cover;
    font-family: Pacifico, cursive;
    font-size: 5.025rem;
    width: 100%;
    
}

.banner__titulo{
    text-align: center;
    left: 50%;
    top: 50%;
    position: absolute;
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%);
   
}


@media screen and (min-width: 0){
     
    .banner__img{
      height: calc(100vh - 51px);
    }

    .banner__titulo{
        font-size: 3rem;
    }

}


@media screen and (min-width: 720px){

    .banner__img{
        height: calc(100vh - 72px);
      }

    .banner__titulo{
        font-size: 5.025rem;
    }

}


