.sobre{
    text-align: center;
    padding: 2.5rem;
}

.sobre__titulo{

    color: rgba(156, 5, 27, 0.867);
    font-family: Pacifico, cursive;
    font-size: 3.1875rem;
    

}

.sobre__parrafo{
   color: #595959;
    font-size: 1.75rem;
    font-weight: 100;
}